/* Khusus judul */
html,
body {
    margin: 0;
    padding: 0;
}

#big_container {
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.container {
    display: flex;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container div {
    align-items: center;
    font-size: 40px;
}

.G1 {
    color: rgb(22, 140, 244)
}

.G2 {
    color: rgb(253, 44, 44);
}

#G3 {
    color: rgb(255, 162, 0);
}

#G5 {
    color: rgb(28, 198, 33);
}

input {
    width: 400px;
    border: none;
    margin-left: 5px;
}

input:focus {
    outline: none;
}

.container_search:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container_search {
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    border-radius: 200px;
    padding: 9px;
    border: 1px solid rgba(99, 99, 99, 0.2);

}

.search_icon {
    align-items: center;
    justify-content: center;
    display: flex;
}

#button_search {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 25px;
}

#button1 {
    margin-right: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: rgb(73, 72, 72);
    background-color: rgb(248, 248, 248);
}

#button1:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#button1:focus {
    border: 1px solid rgb(2, 32, 255);
}

#button2 {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: rgb(73, 72, 72);
    background-color: rgb(248, 248, 248);
}

#button2:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#button2:focus {
    border: 1px solid rgb(2, 32, 255);
}

#bahasagoogle {
    color: rgba(46, 43, 43, 0.756);
    margin-bottom: 250px;
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {}

#photoicon {border-radius: 50%;}